*{
    margin:50px solid balck;
    padding:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.portfolio__title{
color:black;
background-color:grey;
font-size:xx-large;
border-radius:10px;
padding-left:10px;
padding-bottom:10px;
}
.port__para{
    color:black;
font-size:x-large;
padding-top:5px;
font-weight:bolder;
}
.portfolio__class{
    color:green;
    background-color: beige;
    font-size:medium;
}
.port__about{
    color:white;
    background-color:black;
    font-size:xx-large;
    font-weight: lighter;
    display:inline;
    border-radius:10px;
}
.port__paragraph{
    color:brown;
    background-color:lightgrey;
    font-size:large;
    font-weight:bolder;
    border-radius:10px;
}
.port__intrest{
    color:black;
    background-color:blue;
    font-size:large;
    display:inline-block;
    font-weight:bolder;
    list-style-type: style none;
    padding-left: 20px;
    border-radius:10px;
   

}
.port__projects{
    color:black;
    background-color:orange;
    font-size:large;
    display:inline-block;
    font-weight:bolder;
    padding-bottom:30px;
    border-radius:10px;
    vertical-align:top;
}
.port__social{
    color:red;
    background-color:black;
    font-weight:bolder;
    display:block;
    width:180px;
    border-radius:10px;

}